*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 100vh;
    background-color: #f1f1f1;
}

.profile-inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 100px 150px;
   
    gap: 30px;
}
.profile-inner h2{
    font-size: 24px;
    color: #333;
}
.profile-inner button{
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.profile-inner button:hover{
    background-color: #0056b3;
}
